/* alap beállítások */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #383838;
}
#header {
    animation: loaderAnimation 1.5s ease-in-out;
}
.tarolo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
    margin-top: -15%;
    padding: 20px;
    border-radius: 20px;
    background-color: #292828;

}

.focim{
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-family:Comic Sans MS, Comic Sans, cursive;
    text-transform: uppercase;
    user-select: none;
}

.focim_arany{
    color: #A59568;
}

.login, .reg{
    background-color: #A59568;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.reg{
    background-color: #292828;
    margin-top: 20px;
}

#btnLogin, #btnReg{
    font-size: 1.5rem;
    color: white;
    background-color: inherit;
    border: none;
    cursor: inherit;
}

#btnReg{
    color: #A59568;
}


.login:hover, .reg:hover{
    transform: scale(1.01);
}




@media screen and (max-width: 430px){
    .login, .reg{
        width: 350px;

    }
    .focim{
        font-size: 4rem;
        font-weight: 600;
    }
}

/*lábléc*/
footer{
    background-color: #292929;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:1000 ;
    color: white;
    
}
@keyframes loaderAnimation {
    0% { opacity: 0; transform: translatey(30px); }
    100% { opacity: 1; transform: translatey(0); }
  }