* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838;
}
#header {
    animation: loaderAnimation 1.5s ease-in-out;
}


.footer {
    background-color: #292929;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    flex-direction: column; 
    overflow: hidden;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px; 
    width: 100%; 
    padding: 0 20px; 
    box-sizing: border-box; 
    flex-wrap: wrap; 
}

.footer-column {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 2px; 
}

.footer-column ul li {
    margin: 10px 0;
    text-align: center;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #222;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    bottom: -20px;
    left: 0;
}

.footer-column-title {
    cursor: pointer;
    margin-bottom: 20px; 
    text-align: center; 
}




@media (max-width: 768px) {
    .footer-column {
        flex: 1 1 100%;
        text-align: center;
    }

    .footer-column ul {
        display: none;
    }

    .footer-column.active ul {
        display: block;
    }
    .footer-column-title {
        text-align: center; 
    }
    .footer-content{
        margin: auto;
    
    }
}

header {
    background-color: #313131;
    padding: 20px 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index:1000 ;
}

.menu-logo, .menu-logo-arany {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
    padding: none;
    font-family:Comic Sans MS, Comic Sans, cursive;
    cursor: pointer;

}

.menu-logo-arany {
    color: #A59568;
}



nav {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.icon-cart, .icon-user, .icon-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: ease 500ms;
}



.icon-cart:hover,
.icon-user:hover{
    transform: scale(1.1);
    background-color: #464545;
}
.icon-logout:hover {
    transform: scale(1.1);
    background-color: rgb(221, 75, 75);

}

/* hamburger menü */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: #292828;
}

.hamburger-menu span {
    display: block;
    height: 4px;
    background-color: #A59568;
    border-radius: 2px;
    width: 100%;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked~nav {
    display: flex;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: white;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 1.5rem;
        display: none;
    }
}

.text {
    text-align: center;
    color: white;
}
.text1 {
    text-align: justify; 
    color: white;
    padding: 20px; 
    background-color: #444; 
    border-radius: 10px; 
    margin: 20px auto; 
    max-width: 800px; 
    line-height: 1.8; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.text1 p {
    margin-bottom: 15px; 
}

@keyframes loaderAnimation {
    0% { opacity: 0; transform: translatey(30px); }
    100% { opacity: 1; transform: translatey(0); }
  }